.#{$--prefixcls}-layout {
  width: 100%;
  height: 100%;
  background-color: var(--semi-color-bg-1);

  &-header {
    width: 100%;

    .semi-navigation-horizontal {
      border-bottom: 0px;
    }

    .semi-tabs {
      margin-left: 10px;
    }
  }

  &-sider {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 60px;
      font-size: 16px;
      font-weight: bold;
    }
  }

  &-content {
    padding: 10px;
  }

  &-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    img {
      width: 600px;
    }
  }
}