.#{$--prefixes}-login {
  width: 100%;
  height: 100%;
  color: $--color-white;
  background-size: 120%;
  background-repeat: no-repeat;
  &-cover {
    z-index: -1;
    position: absolute;
    filter: blur(10px);
    width: 100%;
    height: 100%;
    &-point {
      border-radius: 50%;
    }
    &-point:nth-child(1) {
      position: relative;
      top: 10%;
      left: 10%;
      width: 20rem;
      height: 20rem;
      background-color: aqua;
    }
  }
}
