  .login-input {
    align-items: center;
    margin: 1rem 0;
    color: $--color-gray4;
    background-color: $--color-gray1;
    border-radius: 0.3rem;
    width: 100%;
    &-icon {
      font-size: 40px;
      color: $--color-gray4;
      padding: 10px 20px;
    }

    &-box {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      flex-grow: 1;

      &-label {
        position: absolute;
        margin: auto 0;
        height: 32px;
        line-height: 32px;
        transition: all .3s ease;
      }
      .login-semi-input {
        position: relative;
        border: none;
        background-color: transparent;
        input {
          padding: 0;
        }
      }
    }
    &-status {
      width: 3rem;
      float: right;
    }
  }
  // 激活样式
  .login-input-active {
    .login-input-box-label {
      transform: translateY(-20px);
    }
    .login-semi-input {
      top: 5px;
    }
  }
